#banner .inner header {
    display: inline-block !important;
    border-bottom: solid 2px !important;
    border-top: solid 0px !important;
    margin: 0 0 2em 0 !important;
    padding: 3px 0 3px 0 !important;
}
#banner .inner {
    background: rgba(52, 27, 43, 0.022 ) !important;
}

#banner .inner header h2 {
    border-bottom: solid 0px !important;
    border-top: solid 0px !important;
    font-size: 2.5em !important;
    font-weight: 900 !important;
    letter-spacing: 0.2em !important;
    margin: 0 !important;
    padding-left: 0.05em !important;
    position: relative !important;
    text-transform: uppercase !important;
}

#banner .inner header h2 {
    letter-spacing: 0.08em;
}
.wrapper.style2 {
    background-color: #4d80b2;
}
.problemas-box ol{
    list-style: inherit !important;  
}

ol {
    list-style: inherit !important;
}

.wrapper.style2 {
    background-color: #4d80b2 !important;
}


.section-signup{
    margin:8% !important;
    background-color: white !important;
    padding: 40px !important;
}

.espaciado{
    margin-top: 40px;
    background-color: #31308C !important;
    border-color: #31308C !important;
}